.themebtn {
	font-size: 14px;
	border-radius: 3px;
	display: inline-block;
	padding: 0 25px;
	border: 0 none;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	vertical-align: middle;
	border: none;
	height: 36px;
	line-height: 36px;
}
.themebtn:focus, .themebtn:active:focus, .themebtn.active:focus {
	outline: 0 none;
}